

#calc,
#teams {
    background-color: darkblue;
    color: azure;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header,
#title {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

#teams table {
    width: 100%;
}

#teams table div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#teams th {
    padding: 20px;
    color: red;
}
