

#classwork2,
#classwork8,
#classwork9,
#classwork3,
#homework {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background-color: brown;
}

#header,
#title {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

#classwork3 table,
#classwork9 table {
    width: 100%;
}
#classwork3 table div,
#classwork9 table div {
    display: flex;
    align-items: center;
    justify-content: center;
}



#classwork3 th,
#classwork3 td,
#classwork9 th,
#classwork9 td {
    padding: 10px;
}
