body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    margin: 10px;
}


.image {
    width: 20px;
    height: 20px;
}

.bux {
    width: 20px;
    height: 20px;
    display: inline-flex;
}
