.box {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 0 auto;
    justify-content: space-between;
}

.card {
    width: 240px;
    height: 200px;
    background-color: aliceblue;
    margin: 10px;
    box-shadow: 0 0px 7px rgb(49, 48, 48);
    border-radius: 20px;
    overflow: hidden;
}

.name {
    height: 33.3%;
    line-height: 330%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(247, 194, 37);
}
.name:hover {
    text-shadow: 5px 5px 5px rgb(44, 43, 43);
    font-size: 21px;
}

.gender {
    height: 33.3%;
    line-height: 330%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(135, 191, 244);
}
.gender:hover {
    text-shadow: 5px 5px 5px rgb(44, 43, 43);
    font-size: 21px;
}

.homeworld {
    height: 33.3%;
    line-height: 330%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(212, 173, 180);
}
.homeworld:hover {
    text-shadow: 5px 5px 5px rgb(44, 43, 43);
    font-size: 21px;
}