#classwork2,
#classwork3,
#classwork4,
#classwork5,
#classwork6,
#classwork7 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    background-color: rgba(138, 43, 226, .7);
    padding: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 0 0 20px black;
}

.red {
    color: red;
}
.green {
    color: green;
}

