/* 1 */
.blue {
    background-color: blue;
}

.red {
    background-color: red;
}


/* 3 */
#id3 {
    height: 400px;
    background-color: aqua;
    border: 5px solid bisque;
    box-sizing: border-box;
}


/* 4 */
.button {
    font-style: 18px;
    padding: 20px;
    margin: 40px 15px;
    background-color: aliceblue;
    min-width: 150px;
    box-sizing: border-box;
}


/* 5 */
#id5 {
    height: 400px;
    background-color: rgb(242, 246, 225);
    border: 5px solid rgb(77, 130, 237);
    box-sizing: border-box;
    position: relative;
}

.box {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    position: absolute;
}

