
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: rgba(241, 241, 93, 0.2);
}


.header {
    margin: 0 auto;
    width: 800px;
    height: 200px;
    border: 5px solid #636161;
    background-color: rgb(102, 174, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.nav {
    width: 100px;
    height: 400px;
    border: 5px solid #636161;
    background-color: rgb(242, 145, 145);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}

.section {
    width: 700px;
    height: 400px;
    border: 5px solid #636161;
    background-color: rgb(130, 234, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__var {
    font-style: italic;
}


.footer {
    margin: 0 auto;
    width: 800px;
    height: 200px;
    border: 5px solid #636161;
    background-color: rgb(176, 210, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}