* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 220px;
    background-color: black;
    border-radius: 20px;
    padding: 15px;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(76, 89, 234);
    color: black;
    font-weight: 900;
}

.scoreboard span {
    padding: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    padding: 5px;
    cursor: pointer;
}


.prompt_style {
    display: block;
    border: 1px solid red;
    color: brown;
    text-align: center;
    margin-bottom: 5px;
}


#image {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

#image img {
    width: 100%;
    object-fit: cover;
}

.anim {
    animation-duration: 3s;
    animation-name: slide_right;
    animation-delay: 0s;
    animation-timing-function: ease;
}

@keyframes slide_right {
    0% {
        transform: translateX(-200vw)
    }

    10% {
        transform: translateX(0)
    }

    90% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(200vw)
    }
}